label {
  cursor: pointer;
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.table-item-card:nth-child(odd) {
  background-color: white;
}

.table-item-card:nth-child(even) {
  background-color: #fffbf1;
}

img.photo {
  width: 6rem !important;
  height: 6rem !important;
  object-fit: contain;
}

img.photo-modal {
  width: 12rem !important;
  height: 12rem !important;
  object-fit: contain;
}

img.logo-method {
  width: 2.5rem !important;
  height: 2.5rem !important;
  object-fit: contain;
}

.table-test {
  width: 1.5rem !important;
}
