@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --maize-yellow: hsl(45.2, 86.5%, 62.4%);
    --cornflower-blue: hsl(239, 61%, 65%);
    --periwinkle-blue: hsl(239, 82%, 81%);
  }
  @font-face {
    font-family: Poppins;
    font-weight: 300;
    src: url(".././assets/fonts/Poppins-Light.ttf") format("ttf");
  }
  @font-face {
    font-family: Poppins;
    font-weight: 400;
    src: url(".././assets/fonts/Poppins-Regular.ttf") format("ttf");
  }
  @font-face {
    font-family: Poppins;
    font-weight: 500;
    src: url(".././assets/fonts/Poppins-Medium.ttf") format("ttf");
  }
  @font-face {
    font-family: Poppins;
    font-weight: 600;
    src: url(".././assets/fonts/Poppins-SemiBold.ttf") format("ttf");
  }
  @font-face {
    font-family: Poppins;
    font-weight: 700;
    src: url(".././assets/fonts/Poppins-Bold.ttf") format("ttf");
  }
  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }

  * {
    @apply font-poppins;
  }

  .icon-footer {
    @apply w-10 sm:w-8 lg:w-10 xl:w-12 h-11 sm:h-8 lg:h-10 xl:h-12 p-2 bg-cornflowerBlue rounded-full fill-maizeYellow m-2 hover:cursor-pointer hover:scale-105;
  }

  li.footer {
    @apply leading-8 hover:cursor-pointer hover:font-bold hover:scale-105;
  }
}
